
*{
    font-family: 'ARS maquette','Maven pro','helvetica neue','sans-serif';
}


.menu{
    color:white;
    background-color:black;
    height: 2rem;
}

.nav{
    color: grey;
   background-color: green;
   height: 3.4rem;
   font-family: 'Ropa Sans', sans-serif;
}

.articlemain{
    background-color: orangered;
    height: 29rem;
    display: inline-block;
    float: left;
}

.articleside{
    height: 14rem;
    position: absolute;
    display: inline-block;
    
}

.articlesideb{
    background-color: blue;
    height: 14rem;
   display: inline-block;   
   position: relative;
   top:14.9rem;
}

.latestnews{
display: block;
clear: both;
height: 31rem;
margin: 0 auto;
margin-top:20rem;
margin-bottom: 6rem;
background-color: goldenrod;
}

.latestfunding{
    display: block;
    clear: both;
    height: 18rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-color: royalblue;
    }


    .assortedtopics{
        display: block;
        clear: both;
        height: 66rem;
        margin: 0 auto;
        margin-bottom: 5rem;
        background-color: purple;

    }


    .latestdeals{
        display: block;
        clear: both;
        height: 30rem;
        margin: 0 auto;
        margin-bottom: 5rem;
        background-color: red;

    }


.subfooter{
    color: aliceblue;
    background-color: #555555;
    height: 10rem;
    font-family: 'Ropa Sans', sans-serif;
    display: block;
    clear: both;
}


.footer{
    color: aliceblue;
    height: 6rem;
    display: block;
}
